@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

*{
   margin: 0;
   padding: 0;
  box-sizing: border-box;
  font font-family: 'Zen Antique Soft', serif;

}

body{
	font-size: 16px;
	overflow-x: hidden;
	font-weight: normal;
}

/* full nav bar */


.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


@media (min-width: 768px){
	.container{
		width: 750px;
	}
}

@media (min-width: 992px){
	.container{
		width: 970px;
	}
}

@media (min-width: 1200px){
	.container{
		width: 1170px;
	}
}

ul, li{
	list-style: none;
	display: inline-block;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}

a, a:hover{
	text-decoration: none;
}

.md{

    color: #000;
}
.md:hover{

    color: rebeccapurple;
}


#top-nav .logo-wrapper{
	font-size: 24px;
	font-weight: 600;
}

#top-nav .logo-wrapper .logo{
	color: #1f1f1f;
    font-size: 20px;
}

.navbar-wrapper li .link-item{
	
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}

.navbar-wrapper li.active a{

	color: crimson;
}

#top-nav{
	position: relative;
	width: 100%;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid rgb(255 255 255 / 30%);
	transition: 0.5s;
	z-index: 99;
	background-color: #fff;
	box-shadow: 1px 3px 15px #000;
}

.link-item{

    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color:#262626;
    font-weight: blod;
    transition: .5s;
    
}

.link-item:hover{

    color: #fff;
}

.link-item:before{

    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000 ;
    transform: scaley(2);
    opacity: 0;
    transition: .5s;
    z-index: -1;

}

.link-item:hover:before{

    transform: scaley(1.2);
    opacity: 1;

}

.link-item:after{

    content: '';
    position: absolute;
    top: 1px;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    transform: scale(0);
    
    transition: .5s;
    z-index: -1;
}

.link-item:hover:after{

    transform: scale(1);

}


/* end full nav bar */


/* text or img */

#hero-area{
	position: relative;

}

#hero-area .hero-cover{
	background-image: url(images/ggb.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	height: 100vh;
}

#hero-area .hero-cover .hero-content-box{
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-40%);
	color: #fff;
}

#hero-area .hero-cover .hero-content-box .hello{
	font-size: 50px;
	font-weight: 500;
    color: royalblue;
    text-decoration-line: underline; 
}

#hero-area .hero-cover .hero-content-box .hello:hover{

    text-decoration-line: underline; 
    color: yellowgreen;
}


#hero-area .hero-cover .hero-content-box .post{
	margin: 20px 0 20px 0;
	font-size: 35px;
}

#hero-area .hero-cover .hero-content-box .hero-desc{
	font-size: 20px;
	color:white;
	margin-bottom: 80px;
}

#hero-area .hero-cover .hero-content-box .hero-btns .btn{
	margin-right: 20px;
	position: relative;
	z-index: 1;
}

/* end text or img */

/* button red or purple */
.btn{
	text-transform: uppercase;
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
	font-weight:600;
	display: inline-block;
	position: relative;
	z-index: 1;
}

.btn:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	transition: all 0.4s ease-in-out;
	transform: scaleX(0);
	z-index: -1;
}

/* button red hover */

.btn-white{
	background-color: #fff;
	color: #1f1f1f;
}

.btn-white:hover{
	color: #fff;
}

.btn-white:hover:before{
	background-color: red;
}

.btn-white:hover:before,
.btn-red:hover:before{
	transform: scaleX(1);
}

/* button purple */
.btn-red{
	background-color: purple;
	color: #fff;
}

.btn-red:hover{
	color: #e65f78;
	border: 1px solid #e65f78
}

.btn-red:hover:before{
	background-color: #fff;
}


/* end button red or purple */

/* img or text */

.section{
	padding: 100px 0;
}

.section-title{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
}

#about .about-pic{
	width: 37%;
	padding: 5px;
	border: 1px solid #c6c5c7;
}

#about .about-pic img{
	display: block;
	max-width: 100%;
}


#about .about-content{
	width: 60%;
	margin-top: 20px;
	letter-spacing: 1px;
}


#about .about-content h4 span{
	color: #e65f78;
}

#about .about-content .about-subtitle{
	font-size: 18px;
	font-weight: 400;
	margin: 20px 0 0 0;
}

#about .about-content .about-desc{
	margin: 30px 0;
}

#about .about-content .about-desc .desc-top{
	margin-bottom: 20px;
}

/* end img or text */


/* start about btns */

#about .about-content .about-btns{
	margin: 40px 0 20px 0;
}

#about .about-content .about-btns .btn-white{
	border: 1px solid #e65f78;
}

#about .about-content .about-btns .btn-red{
	margin: 0 20px 0 0;
	border: 1px solid #e65f78;
}

/* end about btns */

/* OUR SERVICES tab */

.clear-fix{
	content: '';
	display: table;
	clear: both;
}

.text-center{
	text-align: center;
}

.section-subtitle{
	margin: 30px 100px;
	color: #888;
}

.white-smoke-color{
	background-color: #f7f7f7;
}

#services .section-heading .section-title{
	font-size: 36px;
}

#services .services-wrapper{
	margin: 40px 0 0 0;
}

#services .services-item{
	float: left;
	width: calc(100% / 3 - 20px);
	padding: 40px 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 0 25px rgb(24 24 24 / 10%);
	transition: 0.3s;
}

#services .services-item .item-desc{
	color: #888;
	padding: 0 25px;
}

#services .services-item .item-title{
	margin: 20px 0 20px 0;
	font-size: 23px;
	font-weight: 500;
}

#services .services-item .icon{
	font-size: 50px;
	color: #e65f78;
}

#services .services-item:hover{
	background-color: #1f1f1f;
}

#services .services-item:hover .icon,
#services .services-item:hover .item-title,
#services .services-item:hover .item-desc{
	color: #fff;
}

/* end OUR SERVICES tab */

/* LET'S WORK TOGETHER.  */

.section-cover{
	background-color: #1f1f1f;
}

#hire-me .section-heading{
	padding: 80px 0;
}

#hire-me .section-title{
	color: #fff;
}

#hire-me .section-heading .section-subtitle{
	color: #fff;
	margin: 30px 0;
}
/* end LET'S WORK TOGETHER.*/

#portfolio .section-heading .section-subtitle{
	margin: 30px 100px;
}

#portfolio .portfolio-content .portfolio-filter li{
	padding: 8px 18px;
	border: 1px solid #1f1f1f;
	cursor: pointer;
	margin-right: 15px;
	font-size: 14px;
	font-weight: 500;
}

#portfolio .portfolio-content .portfolio-filter li.active{
	color: #e65f78;
	border: 1px solid #e65f78;
}

#portfolio .portfolio-content .portfolio-items{
	margin: 30px 0 0 0;
}

#portfolio .portfolio-content .portfolio-items .item{
	position: relative;
	display: block;
	float: left;
	width: calc(100% / 3 - 20px);
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#portfolio .portfolio-content .portfolio-items .item img{
	display: block;
	max-width: 100%;
}

#portfolio .portfolio-content .portfolio-items .item:before{
	content: '';
	position: absolute;
	display: block;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(351deg 72% 65% / 63%);
	z-index: 1;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-content .portfolio-items .item-data{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%);
	transition: all 0.4s ease-in-out;
	z-index: 2;
	opacity: 0;
}

#portfolio .portfolio-content .portfolio-items .item-data .title{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

#portfolio .portfolio-content .portfolio-items .item-data .subtitle{
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

#portfolio .portfolio-content .portfolio-items .item:hover:before{
	opacity: 1;
}

#portfolio .portfolio-content .portfolio-items .item:hover .item-data{
	top: 50%;
	opacity: 1;
}






.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: #e65f78;
}

.owl-theme .owl-nav.disabled + .owl-dots{
	margin-top: 30px;
	margin-bottom: 40px;
}

#blog .blog-wrapper .blog{
	width: calc(100% / 3 - 20px);
	margin: 0 10px 20px 10px;
}

#blog .blog-wrapper .blog .blog-img img{
	display: block;
	max-width: 100%;
}

#blog .blog-wrapper .blog .blog-content{
	margin-top: 20px;
}

#blog .blog-wrapper .blog .blog-content .title{
	font-size: 16px;
	color: #333;
	margin-bottom: 20px;
}

#blog .blog-wrapper .blog .blog-content .desc{
	margin-bottom: 20px;
	color: #888;
}

#contact .contact-content .message,
#contact .contact-content .contact-info{
	width: calc(100% / 2 - 20px);
}

#contact .contact-content .message{
	margin: 0 40px 40px 0;
}

#contact .contact-content .title{
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

#contact .contact-content form input{
	width: 100%;
	border-radius: 3px;
}

input, textarea{
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	outline: none;
	padding: 15px 20px;
}

#contact .contact-content form .input-name,
#contact .contact-content form .input-mail{
	width: calc(100% / 2 - 10px);
	margin:0 0 20px 0;
}

#contact .contact-content form .input-name{
	margin-right: 20px;
}

#contact .contact-content form .input-textarea{
	margin: 20px 0 30px 0;
	width: 100%;
}

#contact .contact-content form .input-textarea textarea{
	width: 100%;
	height: 150%;
	min-height: 150px;
	max-height: 150px;
}

#contact .contact-content form [type="submit"]{
	cursor: pointer;
	width: 150px;
	border: 1px solid #e65f78;
}

#contact .contact-content ul.contact-details{
	margin: 20px 0;
}

#contact .contact-content ul.contact-details li{
	display: block;
	margin: 20px 0 20px 0;
}

#contact .contact-content ul.contact-details .contact-icon{
	margin: 0 20px 0 0;
	width: 60px;
	height: 60px;
	line-height: 75px;
	text-align: center;
	position: relative;
}

#contact .contact-content ul.contact-details .contact-icon i{
	font-size: 32px;
	margin-top: 14px;
	color: #e65f78;
}

#contact .contact-content ul.contact-details .contact-text{
	width: 280px;
	padding: 10px 0;
}

#footer {
	background-color: #222;
	position: relative;
}

#footer .footer-bottom{
	margin: 20px 0 0 0;
	border-top: 4px solid #292929;
	padding: 30px 0;
}

#footer .footer-bottom .copyright{
	color: #fff;
	text-transform: capitalize;
	font-size: 17px;
	margin: 10px 0 20px 0;
	line-height: 26px;
}

#footer .footer-bottom .copyright i{
	color: #e65f78;
}

.btn-mouse-wrapper{
	position: absolute;
	display: inline-block;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	z-index: 1;
}

.btn-mouse-wrapper .btn-mouse{
	border: 2px solid #c6c5c7;
	padding: 20px 15px;
	border-radius: 50px;
} 

.btn-mouse-wrapper .btn-mouse .btn-wheel{
	width: 3px;
	height: 10px;
	padding: 0;
	background-color: #c6c5c7;
	transform: translateY(-10px);
	animation: updown 2s ease .1s infinite;
}

@keyframes updown{
	0%{
		transform: translateY(-10px);
	}
	30%{
		transform: translateY(-5px);
	}
	50%{
		transform: translateY(0px);
	}
	80%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(20px);
		opacity: 0.1;
	}
}
